mat-list {
  div {
    display: table;
    color: white;
  }
  span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
  }
  mat-list-item:hover {
    background-color: rgb(202, 202, 202);
  }
}

.selected {
  position:relative;
  background-color: rgb(3, 3, 190);
  &::before {
    content:"";
    display:block;
    position:absolute;
    height:100%;
    border-left: 5px solid white;
  }
}
