.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.login-card {
  width:30%;
  height:50%;
  margin:0 auto;
  padding:40px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-title {
  font-weight: bold;
  font-size: 22px;
  color: #3f51b5;
}

button{
  height:45px;
  margin-bottom: 10px;
}